<a href="https://colab.research.google.com/github/Ravi-2003-1206/python/blob/main/Python_com.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is python?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

# Features

1. Easy
2. Compiler
3. Connect Data base
4. Shortcut program

# Python comments

Comments in Python begin with a hash mark ( # ) and whitespace character and continue to the end of the line.

In [ ]:
# print a number
print(25)

25

# It is a two types
1. Single Line

 In Python, a single-line comment begins with the hash symbol ( # ), and the Python interpreter ignores everything that follows it on that line.


2. Multi Line
   
  Python does not have a specific syntax for multiline comments as some other programming languages do. Instead, multiline comments are created by enclosing the text within triple quotes (either single quotes ''' or double quotes ").

# Keywords

In [ ]:
import keyword
#Get the list of python keywords
python_keywords = keyword.kwlist
#Display the list of keywords
print(python_keywords)
len(python_keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

# Variables
   
   A variable in Python is a reserved memory location that stores data values and acts as a placeholder for information that can be recalled later in the coding process:
    


> Rules:
 1. A variable name must start with a letter or the underscore character.
 2. A variable name cannot start with a number.
 3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
 4. Variable names are case-sensitive (age, Age and AGE are three different variables)

 Ex: NAME = 10
     Name = 20
     name = 30

# Types of variables
  1. Single variable
  2. multi varible

      Multi variable two types:
      * mutli to multi
      * multi to one

In [ ]:
#single variable
Ravi=2

In [ ]:
#multi to multi
x,y,z = 2,4,6
#value assigned to x
print(x)
#value assigned to y
print(y)
#value assigned to z
print(z)

2
4
6

In [ ]:
#multi to one
x=y=z = 2
#value assigned to x
print(x)
#value assigned to y
print(y)
#value assigned to z
print(z)

2
2
2

# Data types


1.  Basic :
*   integer
*   float
*   complex
*   Boolean
2.  Advance :
*   list
*   string
*   tuple
*   Dictionary
*   set

#Basics


* Integer


In Python, integers are classified into zero, positive, or negative whole numbers with no fractional part and infinite precision, such as 0, 100, -10, and so on.

In [ ]:
#int
a = 7
b = -7
c = 0
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

* Float ( Decimal value)

Float is a function or reusable code in the Python programming language that converts values into floating point numbers.

In [ ]:
#float
a = 7.21
b = 2.86
c = 75.43
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>

* Complex ( Real number + image number)

In Python, a complex number is a numeric data type that stores complex numbers.

In [ ]:
#complex
a = 2+9j
b = 7+2j
c = 8+5j
print(type(a))
print(type(b))
print(type(c))

<class 'complex'>
<class 'complex'>
<class 'complex'>

   * Boolean

   In general, a Boolean variable can have only two values - True or False. Or in other words, if a variable can have only these two values, we say that it's a Boolean variable.

In [ ]:
#boolean
a = 2
b = 5
c = 9
print(a>b)

False

# Operators

   * There are seven types of operators

    1. Arthematic operators
    2. Assignment operators
    3. Comparison operators
    4. Logical operators
    5. Identity operators
    6. Membership operators
    7. Bitwise operators

* Arthimatic operator

An Arithmetic Operator is a mathematical function that performs a calculation on two operands.

In [ ]:
#arthimatic
a = 5
b = 7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

12
-2
35
0.7142857142857143
5
78125
0

* Assignment operator

 Assignment operators in Python are used to assign values to variables.

In [ ]:
#assignment
a = 9
b = 2
a = b
print(a)
a +=b
print(a)
a -=b
print(a)
a *=b
print(a)
a /=b
print(a)
a %=b
print(a)
a **=b
print(a)
a //=b

2
4
2
4
2.0
0.0
0.0

* Comparison operator
     
     Comparison operators, also known as relational operators, in Python are symbols or keywords that compare two values and evaluate their relationship:

In [ ]:
#comparison
a = 22
b = 45
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

* Logical operator ( and, or, not)
     
     And: Returns true if both statements are true ( Two satisfied)
    
     Or: Returns true if one statement is true ( one satisfied)
    
     Not: Reverse the result, returns false if the result is true ( T - F) ( F - T)

In [ ]:
#And
a = 7<9 and 10>5
print(a)

True

In [ ]:
#Or
a = 5>3 or 4<1
print(a)

True

In [ ]:
#Not
a = 20>15 and (not 10<11)
print(a)

False

  * Identity operator (is, is not)

      Identity operators in Python compare the memory locations of two objects to determine if they are the same object.

      * is: Returns True if the two objects are the same object
      * is not: Returns True if the two objects are not the same object

In [ ]:
#is
a = "hello"
b = "world"
print(a is b)

False

In [ ]:
#is not
a = "hello"
b = "world"
print(a is not b)

True

  * Membership operator (in , not in)
     
     Membership operators in Python are used to determine if an item is a member of a collection or set.

       * In: Checks if an item is in a collection.
       * Not in: Checks if an item is not in a collection.

In [ ]:
#in
a = "hello"
b = "my world"
print(a in b)

False

In [ ]:
#not in
a = "hello"
b = "my world"
print(a not in b)

True