<a href="https://colab.research.google.com/github/Ravi-2003-1206/python/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python sets

* Sets are used to store multiple items in a single variable.

* Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

* A set is a collection which is unordered, unchangeable*, and unindexed.

# Creating sets :

In [ ]:
# creating an empty set
#empty_set = set()

# creating a set with elements

cars = set(['swift','audi','benz'])
print(cars)
print(type(cars))
#duplicats items:-
#sets cannot have two items with the same value.
a = {1,2,4,5,8,3,9,6,4,88,44,1,3,9,3,}
print(a)

{'swift', 'benz', 'audi'}
<class 'set'>
{1, 2, 3, 4, 5, 6, 8, 9, 44, 88}

# Add and update set items

In [ ]:
#Add and update set items

#add():-set.add adds an individual element to the set
a = {1,2,3,4,8,3,5,8,9,5,4,8,6,}
a.add(22)
print(a)

{1, 2, 3, 4, 5, 6, 8, 9, 22}

In [ ]:
#update set ()
#can pass multiple iterables to it and it will iterate all items
a = {'laptop','phones','televisions'}
b = {'pencils','books','pens'}
c = a.update(b)
print(a)

{'phones', 'books', 'laptop', 'pens', 'televisions', 'pencils'}

# Remove an element from a set

The remove() method removes the specified element from the set.

In [ ]:
set = {'cars','bikes','buses'}
b = set.remove('buses')
print(set)

{'bikes', 'cars'}

# Python set operations

In Python, a set is an unordered, mutable collection of unique elements. Mathematical set operations like union, intersection, and difference can be performed on them. Two different sets can be compared with the subset, superset, and disjoint relations. The members of a set must be hashable .


 1. union of two sets
     
     The union() method returns a set that contains all items from the original set

union is defind by union() or '|'

In [ ]:
from re import X
a={1,2,3,4,6}
b={3,4,5,2,8}
a=a.union(b)
print(a)
c={8,2,1,4,6}
d={9,2,3,4,2,1}
d=c|d
print(d)
v = {'f','h','t','a'}
m = {3,5,7,2}
v=v.union(m)
print(v)
f = {'h','g','j','h'}
e = {'k','d','l','s'}
f=f|e
print(f)
g = {3,6,5,4,5}
h = {4,5,9,0}
g=h|g
print(g)
y = {"mallu","pati","govind"}
i = {65,78,94}
i=y|i
print(i)
x = {1,5,7,9}
z = {8,9,4,6,8}
x=x|z
print(x)
p={1,2,3,4,3,5,3,4,2,3,1,5}
s = {5,6,4,5,2,5,1,2,7,5,8,9,2,3,4,}
s=p|s
print(s)

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 6, 8, 9}
{2, 3, 5, 'a', 7, 'h', 't', 'f'}
{'s', 'h', 'k', 'l', 'j', 'd', 'g'}
{0, 3, 4, 5, 6, 9}
{65, 'govind', 'mallu', 94, 'pati', 78}
{1, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

2. Intersection

The intersection of two sets of its include the elements between two sets.

it defined by '&'.

In [ ]:
a = {5,6,4,5,2,5}
b = {2,3,4,6,5,1}
a=a&b
print(a)
c={8,2,1,4,6}
d={9,2,3,4,2,1}
d=c&d
print(d)
v = {'f','h',8,2,'t','a'}
m = {3,5,7,'t','a',2}
v=v.intersection(m)
print(v)
f = {'h','g','j','h'}
e = {'k','g','l','h'}
f=f&e
print(f)
g = {3,6,5,4,5}
h = {4,5,9,0}
g=h&g
print(g)
y = {67,89,65,93,94,70,}
i = {65,78,94}
i=y&i
print(i)
x = {1,5,7,8,4,9}
z = {8,9,4,6,8}
x=x&z
print(x)
p={1,2,3,4,3,5,3,4,2,3,1,5}
s = {5,6,4,5,2,5,1,2,7,5,8,9,2,3,4,}
s=p&s
print(s)

{2, 4, 5, 6}
{1, 2, 4}
{2, 't', 'a'}
{'h', 'g'}
{4, 5}
{65, 94}
{8, 9, 4}
{1, 2, 3, 4, 5}

3. Difference

It is used to difference the between the two sets, include elements of set A that are not present on set B.

In [ ]:
a= {5,6,4,5,2,5}
b = {2,3,4,6,5,1}
a=a-b
print(a)
c={8,2,1,4,6}
d={9,2,3,4,2,1}
d=c-d
print(d)
v = {'f','h',8,2,'t','a'}
m = {3,5,7,'t','a',2}
v=v-m
print(v)
f = {'h','g','j','h'}
e = {'k','g','l','h'}
f=f-e
print(f)
g = {3,6,5,4,5}
h = {4,5,9,0}
g=h-g
print(g)
y = {67,89,65,93,94,70,}
i = {65,78,94}
i=y-i
print(i)
x = {1,5,7,8,4,9}
z = {8,9,4,6,8}
x=x-z
print(x)
p={1,2,3,4,3,5,3,4,2,3,1,5}
s = {5,6,4,5,2,5,1,2,7,5,8,9,2,3,4,}
s=s-p
print(s)

set()
{8, 6}
{8, 'h', 'f'}
{'j'}
{0, 9}
{89, 67, 93, 70}
{1, 5, 7}
{8, 9, 6, 7}

# Sets of Symmetric Differenc.

Symmetric Differenc between two sets A and B includeing all elements of A and B without common elements.
It defind by '^'.

In [ ]:
a= {5,6,4,5,2,5}
b = {2,3,4,6,5,1}
a=a^b
print(a)
c={8,2,1,4,6}
d={9,2,3,4,2,1}
d=c^d
print(d)
v = {'f','h',8,2,'t','a'}
m = {3,5,7,'t','a',2}
v=v^m
print(v)
f = {'h','g','j','h'}
e = {'k','g','l','h'}
f=f^e
print(f)
g = {3,6,5,4,5}
h = {4,5,9,0}
g=h^g
print(g)
y = {67,89,65,93,94,70,}
i = {65,78,94}
i=y^i
print(i)
x = {1,5,7,8,4,9}
z = {8,9,4,6,8}
x=x^z
print(x)
p={1,2,3,4,3,5,3,4,2,3,1,5}
s = {5,6,4,5,2,5,1,2,7,5,8,9,2,3,4,}
s=s^p
print(s)

{1, 3}
{3, 6, 8, 9}
{3, 'h', 5, 7, 8, 'f'}
{'j', 'k', 'l'}
{0, 3, 6, 9}
{67, 70, 78, 89, 93}
{1, 5, 6, 7}
{6, 7, 8, 9}