<a href="https://colab.research.google.com/github/Ravi-2003-1206/python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple :-

   Python Tuple is a collection of objects separated by commas. In some ways, a tuple is similar to a Python list in terms of indexing, nested objects, and repetition but the main difference between both is Python tuple is immutable, unlike the Python list which is mutable.

Features of Tuple :-
      
  1. It is immutable.
  2. it is ordered sequence.

# Creating the Tuple

In [ ]:
#empty tuple :- it is a empty varible
#type():- it will tell about the function of varible
 # types of tuple

empty_tuple = ()

In [ ]:
#tuple with element
ravi = (1,2,3,4,5)
print(type(ravi))
#single tuple
r = (1,)
print(type(r))
a = (1,4,5)
print(type(a))
#mixed tuple
b = (1,"ravi",5)
print(type(a))
a = ("ravi",)
print(type(a))
c = ("nani",)
print(type(c))
f = ("chinnu","mani")
print(type(f))
#single tuple
g = (67,)
print(type(g))
h = (1,)
print(type(h))
j = (9,8,6)
print(type(j))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
#mixed data type
b = (1,"ravi",5)
print(b)
a = (1,"M",)
print(a)
c = (1,5)
print(c)
d = ("dinesh",3.29,)
print(d)
f = ("nani",)
print(f)

(1, 'ravi', 5)
(1, 'M')
(1, 5)
('dinesh', 3.29)
('nani',)

# Accessing of Tuple

* You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
 a = ("apple", "banana", "cherry")
print(a[1])
b = ("car","bike","bus")
print(b[2])
c = (1,2,3,2,5)
print(c[3])
d = (2,3,2,4,5,6)
print(d[2])
e = ("max","food","dance","dj")
print(e[3])
f = (2,0,7,2,4,7,5,6)
print(f[2])
g = ("a","d","B","x")
print(g[2])
h = ("print","tuple","list","data")
print(h[1])
j = (246,763,987,123)
print(j[3])
k = (23,45,89,46,30)
print(k[4])

banana
bus
2
2
dj
7
B
tuple
123
30

# Immutable

In [ ]:
# immutable:-
#Onces the tuple is created we cannot change its the element.

a=("high","low","left","right")
a[2] = "top"
print(a)

TypeError: 'tuple' object does not support item assignment

# Tuple Operations

1. Concatenation
      
      Concatenating means obtaining a new string that contains both of the original strings.

In [ ]:
A = (1,2,3,4,5)
B = ('a','b','c','d','e')
C = A + B
print(C)

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

In [ ]:
ravi = (143,243,564)
dinesh = ("ravi","dinesh","dharmesh")
c = ravi + dinesh
print(c)

(143, 243, 564, 'ravi', 'dinesh', 'dharmesh')

In [ ]:
x = ('r','a','v','i')
y = ('p','r','i','y','a')
z = x + y
print(z)

('r', 'a', 'v', 'i', 'p', 'r', 'i', 'y', 'a')

In [ ]:
riya = ("bava","kanna","nanna")
revi = ("mardhal","kannamma","maa")
riyarevi = (riya + revi)
print(riyarevi)

('bava', 'kanna', 'nanna', 'mardhal', 'kannamma', 'maa')

In [ ]:
ktm = ("duke","pulser","r15")
cc = (200,125,200)
riders = (ktm + cc)
print(riders)

('duke', 'pulser', 'r15', 200, 125, 200)

2.Repetition
     
   Repetition statements are called loops, and are used to repeat the same code multiple times in succession. Python has two types of loops: Condition-Controlled and Count-Controlled. Condition-Controlled loop uses a true/false condition to control the number of times that it repeats - while.

In [ ]:
a = (1,2,3,4,5)
b = a * 15
print(b)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
ravi = ("revi","rowdy",)
rowdy = ravi * 5
print(rowdy)

('revi', 'rowdy', 'revi', 'rowdy', 'revi', 'rowdy', 'revi', 'rowdy', 'revi', 'rowdy')

In [ ]:
x = ('p','r','i','y','a')
y = x * 2
print(y)

('p', 'r', 'i', 'y', 'a', 'p', 'r', 'i', 'y', 'a')

In [ ]:
xyz = ('a','b','c')
zyx = xyz * 3
print(zyx)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [ ]:
a = (1,2,3,4,5,6,7,8,9)
b = a * 5
print(b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Tuple Methods

Python tuple methods are built-in methods used to modify the tuples in programs. Python tuple methods are immutable, meaning their content cannot be modified once they are created. The two methods for tuples are the Python slot gacor hari ini Tuple count() and the Python Tuple index().

1.count
   
   The count() method returns the number of elements with the specified value. Syntax: list.count(value)

In [ ]:
a=(1,2,3,4,3,5,3,4,2,3,1,5)
a_2=a.count(3)
print(a_2)
g=('d','f','d','s','a','d')
g=g.count('d')
print(g)
h=(1,'c',"dinesh",1,3,4,"dinesh",'s')
h=h.count("dinesh")
print(h)
s = (5,6,4,5,2,5,1,2,7,5,8,9,2,3,4,)
s = s.count(5)
print(s)
t=("josh","ravi","josh","dinesh","nani","josh")
t=t.count("josh")
print(t)
m=("name","age","pleac","age","preson","age","name","pleac","age")
m=m.count("age")
print(m)
n=(289,378,987,289,908,172,289,371,890)
n=n.count(289)
print(n)
z=()

4
3
2
4
3
4
3

# Index

Searches the tuple for a specified value and returns the position of where it was found.

In [ ]:
a=(1,2,3,4,3,5,3,4,2,3,1,5)
a_2=a.index(3)
print(a_2)
g=('d','f','d','s','a','d')
g=g.index('d')
print(g)
h=(1,'c',"dinesh",1,3,4,"dinesh",'s')
h=h.index("dinesh")
print(h)
s = (5,6,4,5,2,5,1,2,7,5,8,9,2,3,4,)
s = s.index(5)
print(s)
t=("josh","ravi","josh","dinesh","nani","josh")
t=t.index("josh")
print(t)
m=("name","age","pleac","age","preson","age","name","pleac","age")
m=m.index("age")
print(m)
n=(289,378,987,289,908,172,289,371,890)
n=n.index(289)
print(n)
z=()

2
0
2
0
0
1
0